<div class="container">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="color: white">Уведомления</div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="update"/>
  </div>
  <div
    style="
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div>
      Последнее обновление<br />
      в 12:42
    </div>
    <button
      style="
        background-color: #0078d2;
        border: none;
        border-radius: 99px;
        color: white;
        font-weight: 400;
        width: 98px;
        height: 24px;
        cursor: pointer;
      "
      onclick="alert('Напоминаю')"
    >
      Напомнить
    </button>
  </div>
</div>
