<div style="padding: 42px 46px">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="width: 163px; height: 54px">
      <div style="color: white; font-size: 24px">Журнал смен</div>
      <div
        style="
          color: rgba(255, 255, 255, 0.6);
          font-weight: 400;
          font-size: 14px;
        "
      >
        Блок КВР-342
      </div>
    </div>
    <button class="downloadBtn" (click)="exportexcel()">
      <img src="../../../assets/IconDownload.svg" />Загрузить
    </button>
  </div>

  <table class="table" id="excel-table">
    <thead>
      <tr>
        <th>Дата выхода на смену</th>
        <th>Сотрудник</th>
        <th>Должность</th>
        <th>Статус</th>
        <th>Дата завершения</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
      <tr>
        <td>16.03.2022</td>
        <td>Елисеева</td>
        <td>Технолог</td>
        <td>Без проишествий</td>
        <td>28.03.2022</td>
      </tr>
    </tbody>
  </table>
</div>
