<div class="duty-table__container">
  <div class="duty-table__header">
    <div>
      <div class="duty-table__header-title">Журнал смен</div>
      <div class="duty-table__header-subtitle">{{userJob}}</div>
    </div>
    <button class="downloadBtn" (click)="exportexcel()">
      <img src="../../../assets/IconDownload.svg" />Загрузить
    </button>
  </div>

  <table class="table" id="excel-table">
    <thead>
      <tr>
        <th>Дата выхода на смену</th>
        <th>Сотрудник</th>
        <th>Должность</th>
        <th>Статус</th>
        <th>Дата завершения</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data">
        <td>{{ element.startTime }}</td>
        <td>{{ element.name }}</td>
        <td>{{ element.job }}</td>
        <td>{{ element.status }}</td>
        <td>{{ element.endTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
