<div class="widgets">
  <div class="widgets__container">
    <div class="widgets__header">
      <div>
        <div class="widgets__header_title">{{ title }}</div>
        <div class="widgets__header_subtitle" *ngIf="type != 'incident'">
          Общее
        </div>
      </div>
      <button class="widgets__header_btn">
        <img src="../../../assets/IconSixDots.svg" alt="" />
      </button>
    </div>
    <div class="widgets__btn">
      <div class="triple-date-selection" *ngIf="type === 'incident'">
        <button class="triple-date-selection__btn" (click)="dayIncidents()">День</button>
        <button class="triple-date-selection__btn" (click)="weekIncidents()">
          Неделя
        </button>
        <button class="triple-date-selection__btn" (click)="monthIncidents()">
          Месяц
        </button>
        <div
          class="triple-date-selection__btn_active-day"
          [ngClass]="{
            'triple-date-selection__btn_active-week': !isActiveDay,
            'triple-date-selection__btn_active-month': isActiveMonth
          }"
        ></div>
      </div>
       <div *ngIf="type === 'KPE'">
        <input type="date" class="KPE__date KPE__date_left" [(ngModel)]="customMin" (change)="setCustomBorder()">
        <input type="date" class="KPE__date KPE__date_right" [(ngModel)]="customMax"(change)="setCustomBorder()">
      </div>
      <div class="double-date-selection" *ngIf="type === 'event'">
        <button class="double-date-selection__btn" (click)="dayEvent()">
          День
        </button>
        <button class="double-date-selection__btn" (click)="weekEvent()">
          Неделя
        </button>
        <div
          class="double-date-selection__btn_active-day"
          [ngClass]="{
            'double-date-selection__btn_active-week': !isActiveEventDay
          }"
        ></div>
      </div>
      <div *ngIf="type==='laboratory'"> 
        <div class="double-date-selection">
        <button class="double-date-selection__btn" (click)="expenceData()">
          Расход
        </button>
        <button class="double-date-selection__btn" (click)="incomeData()">
          Доход
        </button>
        <div
          class="double-date-selection__btn_active-day"
          [ngClass]="{
            'double-date-selection__btn_active-week': !isActiveEventDay
          }"
        ></div>
      </div></div>
      <div class="widgets__more-btn">Подробнее</div>
    </div>
  </div>

  <div class="widgets__chart-container" *ngIf="type != 'event'">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsPie" [(update)]="updatePie" *ngIf="type === 'incident'"/>
    <div *ngIf="type === 'incident'" class="widgets__incindets-labels">
      <div>
        <div class="widgets__incindets-labels-circle circle_green"></div>
        Закрытые
      </div>
      <div>
        <div class="widgets__incindets-labels-circle circle_orange"></div>
        Активные
      </div>
      <div>
        <div class="widgets__incindets-labels-circle circle_dark"></div>
        Новые
      </div>
    </div>
    <div *ngIf="type === 'KPE'">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsLine" [(update)]="updateLine" *ngIf="type === 'KPE'"/>
    </div>

    <div class="widgets__laboratory-container" *ngIf="type === 'laboratory'">
      <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsBar" [(update)]="updateBar" *ngIf="type === 'laboratory'"/>
      <div
        style="
          text-align: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.6);
          margin: 10px;
        "
        *ngIf="type === 'laboratory'"
      >
        Месяц
      </div>
    </div>
  </div>
  <div class="event-list" *ngIf="type === 'event'">
    <div class="widgets-event" *ngFor="let event of filteredEvents">
      <div class="widgets-event__container">
        <div class="widgets-event__title">{{event.title}}</div>
        <div class="widgets-event__subtitle">{{event.subtitle}}</div>
      </div>
      <div class="widgets-event__subtitle">{{event.data| date:'dd.MM.yyyy'}}</div>
    </div>
    
  </div>

  <div class="add-widgets__container" *ngIf="type === 'add'">
    <div class="add-widgets__title">
      <img src="../../../assets/IconAddWidget.svg" />
      <div>Добавить новый виджет</div>
    </div>
    <button class="add-widgets__btn">Добавить</button>
  </div>
</div>
