<div class="container">
  <div
    style="
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 20px 20px 15px 20px;
      height: 124px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    "
  >
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      "
    >
      <div>
        <div style="color: white; line-height: 150%">{{ title }}</div>
        <div
          style="
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
          "
          *ngIf="type != 'incident'"
        >
          Общее
        </div>
      </div>
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        "
      >
        <img src="../../../assets/IconSixDots.svg" alt="" />
      </button>
    </div>
    <div style="display: flex; justify-content: space-between">
      <div
        style="
          border-radius: 100px;
          border: 1px solid rgba(246, 251, 253, 0.28);
          width: 198px;
          height: 24px;
          display: flex;
          justify-content: space-evenly;
          position: relative;
        "
        *ngIf="type === 'incident'"
      >
        <button class="dateBtn" (click)="day()">День</button>
        <button class="dateBtn" (click)="week()">Неделя</button>
        <button class="dateBtn" (click)="month()">Месяц</button>
        <div
          class="cont"
          [ngClass]="{ activeWeek: !activeDay, activeMonth: activeMonth }"
        ></div>
      </div>
      <div *ngIf="type === 'KPE'">datarange</div>
      <div
        style="
          border-radius: 100px;
          border: 1px solid rgba(246, 251, 253, 0.28);
          width: 198px;
          height: 24px;
          display: flex;
          justify-content: space-evenly;
          position: relative;
        "
        *ngIf="type === 'event'"
      >
        <button class="dateBtn" (click)="dayEvent()">День</button>
        <button class="dateBtn" (click)="weekEvent()">Неделя</button>
        <div class="cont" [ngClass]="{ activeEvent: !eventDayActive }"></div>
      </div>
      <select *ngIf="type === 'laboratory'">
        <option>Пункт 1</option>
        <option>Пункт 2</option>
      </select>
      <div class="moreBtn">Подробнее</div>
    </div>
  </div>

  <div class="add-container" *ngIf="type === 'add'">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    >
      <img
        style="height: 24px; width: 24px; margin: 15px 0 10px 0"
        src="../../../assets/IconAddWidget.svg"
      />
      <div
        style="
          text-align: center;
          color: white;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
        "
      >
        Добавить новый виджет
      </div>
    </div>
    <button
      style="
        border: none;
        border-radius: 99px;
        background-color: rgba(250, 250, 250, 0.16);
        color: white;
        width: 90px;
        height: 24px;
        cursor: pointer;
        margin-top: 40px;
      "
    >
      Добавить
    </button>
  </div>
</div>
