<div class="container">
  <div
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div>
      <div style="font-size: 24px; color: white">
        Аналитика по рабочему месту
      </div>
      <div style="color: rgba(255, 255, 255, 0.6); font-weight: 400">
        Установка КВР-342
      </div>
    </div>
    <div style="display: flex; gap: 10px">
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 125px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        "
      >
        <img
          style="margin-right: 12px"
          src="../../../assets/IconSettings.svg"
        />Настроить
      </button>
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        "
      >
        <img src="../../../assets/IconDots.svg" />
      </button>
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        "
      >
        <img src="../../../assets/IconShare.svg" />
      </button>
    </div>
  </div>
  <div
    style="
      display: flex;
      flex-wrap: wrap;
      padding-left: 10px;
      row-gap: 30px;
      column-gap: 50px;
      margin-top: 40px;
    "
  >
    <app-widgets [type]="'incident'"></app-widgets>
    <app-widgets [type]="'KPE'"></app-widgets>
    <app-widgets [type]="'event'"></app-widgets>
    <app-widgets [type]="'laboratory'"></app-widgets>
    <app-widgets></app-widgets>
  </div>
</div>
