<div class="main-user-info">
  <div class="main-user-info__container">
    <div>
      <div class="main-user-info__title">Аналитика по рабочему месту</div>
      <div class="main-user-info__subtitle">Установка КВР-342</div>
    </div>
    <div class="main-user-info__btn-container">
      <button class="main-user-info__btn main-user-info__btn_big">
        <img src="../../../assets/IconSettings.svg" />Настроить
      </button>
      <button class="main-user-info__btn main-user-info__btn_small">
        <img src="../../../assets/IconDots.svg" />
      </button>
      <button class="main-user-info__btn main-user-info__btn_small">
        <img src="../../../assets/IconShare.svg" />
      </button>
    </div>
  </div>
  <div class="widgets-container">
    <app-widgets [type]="'incident'" [incident]="incident"></app-widgets>
    <app-widgets [type]="'KPE'"  [kpe]="kpe"></app-widgets>
    <app-widgets [type]="'event'" [dayEvents]="dayEvents" [weekEvents]="weekEvents"></app-widgets>
    <app-widgets [type]="'laboratory'" [lab]="lab"></app-widgets>
    <app-widgets [type]="'add'">
    </app-widgets>
  </div>
</div>
