<div class="container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <div style="font-size: 24px; color: white">
        Аналитика по рабочему месту
      </div>
      <div style="color: rgba(255, 255, 255, 0.6)">Установка КВР</div>
    </div>
    <div style="display: flex; gap: 10px">
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 125px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          style="margin-right: 12px"
          src="../../../assets/IconSettings.svg"
        />Настроить
      </button>
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img src="../../../assets/IconDots.svg" />
      </button>
      <button
        style="
          border: none;
          color: rgba(255, 255, 255, 0.75);
          background-color: rgba(250, 250, 250, 0.16);
          border-radius: 4px;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img src="../../../assets/IconShare.svg" />
      </button>
    </div>
  </div>
</div>
