
<div class="metrics" [ngClass]="{ add: type === 'add' }">
  <div class="metrics__container">
    <div class="metrics__title">{{ title }}</div>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="update"/>
  </div>
  <div class="metrics__update-time">
    <div *ngIf="type != 'efficient'">
      Последнее обновление<br />
      в {{ updateTime | date : "HH:mm" }}
    </div>
    <div *ngIf="type === 'efficient'">
      Последняя активность<br />
      в {{ updateTime | date : "HH:mm" }}
    </div>
    <button
      class="metrics__notification-btn"
      onclick="alert('Напоминаю')"
      *ngIf="type === 'notification'"
    >
      Напомнить
    </button>
  </div>

  <div class="add-metrics__container" *ngIf="type === 'add'">
    <div class="add-metrics__title">
      <img src="../../../assets/IconAddWidget.svg" />
      <div>Добавить метрики эффективности</div>
    </div>
    <button class="add-metrics__btn">Добавить </button>
  </div>
</div>
