.password {
  width: 100%;
  height: 100%;
  background-color: #22272ba8;
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.password__form {
  width: 280px;
  height: 80px;
  border-radius: 20px;
  background-color: rgb(13, 150, 150);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.password__input {
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 255, 0.315);
}
