body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.highcharts-scrolling::-webkit-scrollbar {
  height: 8px;
}

.highcharts-scrolling::-webkit-scrollbar-track {
  background: rgba(246, 251, 253, 0.06);
  border-radius: 10px;
}

.highcharts-scrolling::-webkit-scrollbar-thumb {
  background: rgba(246, 251, 253, 0.24);
  border-radius: 4px;
}
.event-list::-webkit-scrollbar {
  width: 8px;
}

.event-list::-webkit-scrollbar-track {
  background: rgba(246, 251, 253, 0.06);
}

.event-list::-webkit-scrollbar-thumb {
  background: rgba(246, 251, 253, 0.24);
}
