<div class="container">
  <div class="user-name-container">
    <div class="name">
      <img [src]="user.userImg" *ngIf="user.userImg" />
      <div class="user-avatar-gradient"></div>
      <div class="user-avatar">
        {{ user.name | slice : 0 : 1 | uppercase
        }}{{ user.surname | slice : 0 : 1 | uppercase }}
      </div>
      <div>
        <div class="user-name">{{ user.name }} {{ user.surname }}</div>
        <div class="user-job">
          {{ user.jobTitle }}
        </div>
      </div>
    </div>
    <button
      class="user-btn"
      [ngClass]="{ 'user-btn-active': activeBtn }"
      (click)="btnClick()"
    >
      Заступить на смену
    </button>
  </div>
  <div class="date-container">
    <div
      style="
        border-radius: 100px;
        border: 1px solid rgba(246, 251, 253, 0.28);
        width: 176px;
        height: 32px;
        display: flex;
        justify-content: space-evenly;
      "
    >
      <button
        class="dateBtn"
        (click)="today()"
        [ngClass]="{ active: activeToday }"
      >
        сегодня
      </button>
      <button
        class="dateBtn"
        (click)="yesterday()"
        [ngClass]="{ active: !activeToday }"
      >
        вчера
      </button>
    </div>
    <!-- <button>календарь</button> -->
  </div>
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap">
    <app-task-stats *ngIf="taskStatsActive"></app-task-stats>
    <app-notification-stats
      *ngIf="notificationStatsActive"
    ></app-notification-stats>
    <app-efficiency-stats *ngIf="efficiencyStatsActive"></app-efficiency-stats>
    <app-add-metrics></app-add-metrics>
  </div>
</div>

