.short-user-info__container {
  background-color: rgba(22, 26, 29, 1);
  padding: 42px 46px;
}

.short-user-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar__name {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f56b00;
  box-shadow: 0px 0px 1px 3px rgba(17, 125, 207, 1);
  padding-top: 3px;
  box-sizing: border-box;
}

.user-avatar__gradient {
  background: linear-gradient(180deg, #fff, #000);
  opacity: 0.3;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
}

.user-avatar {
  display: flex;
  align-items: center;
}

.user__name {
  color: white;
  font-size: 24px;
}

.user__job {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
}

.shift-btn {
  width: 169px;
  height: 32px;
  border-radius: 4px;
  background-color: #0078d2;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.shift-btn_active {
  background-color: red;
  transition: 0.2s;
}

.choise-date {
  display: flex;
  margin: 48px 0 24px 0;
}
.date__container {
  border-radius: 100px;
  border: 1px solid rgba(246, 251, 253, 0.28);
  width: 176px;
  height: 32px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.date__btn {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  width: 50%;
  border-radius: 100px;
  z-index: 1;
}
.date__btn_active-today {
  background-color: #0078d2;
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 100px;
  transition: 0.4s;
}
.date__btn_active-yesterday {
  left: 50%;
  transition: 0.4s;
}
.metrics__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
