<div class="short-user-info__container">
  <div class="short-user-info__header">
    <div class="user-avatar">
      <img [src]="user.userImg" *ngIf="user.userImg" />
      <div class="user-avatar__gradient"></div>
      <div class="user-avatar__name">
        {{ user.name | slice : 0 : 1 | uppercase
        }}{{ user.surname | slice : 0 : 1 | uppercase }}
      </div>
      <div>
        <div class="user__name">{{ user.name }} {{ user.surname }}</div>
        <div class="user__job">
          {{ user.jobTitle }}
        </div>
      </div>
    </div>

    <button
      class="shift-btn"
      [ngClass]="{ 'shift-bnt_active': activeBtn }"
      (click)="btnClick()"
    >
      Заступить на смену
    </button>
  </div>

  <div class="choise-date">
    <div class="date__container">
      <button class="date__btn" (click)="today()">Cегодня</button>
      <button class="date__btn" (click)="yesterday()">Вчера</button>
      <div
        class="date__btn_active-today"
        [ngClass]="{ 'date__btn_active-yesterday': !activeToday }"
      ></div>
    </div>
    <!-- <button>календарь</button> -->
  </div>

  <div class="metrics__container">
    <app-metrics [type]="'task'"></app-metrics>
    <app-metrics [type]="'notification'"></app-metrics>
    <app-metrics [type]="'efficient'"></app-metrics>
    <app-metrics></app-metrics>
  </div>
</div>
